<div class="container">
    <div class="row">
        <div class='col-xs-4 col-sm-4 col-md-4' ng-repeat="game in vm.games">
            <div class="panel panel-primary">
                <div class='panel-heading text-center'>
                    <h3 id='title' class="panel-title"><strong> {{game.AwayTeam}} vs. {{game.HomeTeam}} </strong> </h3>
                </div>
                <div class='panel-body text-center'>
                    <pre>{{game.OverUnder}}</pre>
                </div>
                <div id='infoTab' class="panel-footer text-center">
                    <button class='btn btn-default'>More Info </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class='col-xs-6 col-sm-6 col-md-6'>
        <h2>Dynamic Tabs</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
            <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
            <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>HOME</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class='col-xs-6 col-sm-6 col-md-6' ng-repeat='player in vm.players'>
            <div class="panel panel-primary">
                <div class='panel-heading text-center'>
                    <h3 id='title' class="panel-title"><strong>{{player.Name}}</strong> {{player.Team}}</h3>
                </div>
                <div class='panel-body text-center'>
                </div>
                <div id='infoTab' class="panel-footer text-center">
                    <button class='btn btn-default'>More Info </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
